pymilvus==2.4.4
lancedb==0.9.0
opensearch-py==2.6.0
requests==2.32.3
beautifulsoup4==4.12.3
scrapy==2.11.2
sentence-transformers==3.0.1
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
lightgbm==4.4.0
matplotlib==3.8.4
networkx==3.3
pytest==8.3.2
